 /* h2,p {
            background-color: burlywood;
            text-align: center;
            font-family: 'Courier New', Courier, monospace
        } */

 /* #textPara,
        #mainHeader {
            background-color: burlywood;
            text-align: center;
            font-family: 'Courier New', Courier, monospace
        } */

 .common-style {
     background-color: burlywood;
     text-align: center;
     font-family: 'Courier New', Courier, monospace
 }